<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <title>Presentation Programme </title>

</head>

<body style="background-color: rgba(15, 174, 223, 0.767);">
    <div>
        <div class="jumbotron jumbotron-fluid" style="background-image: url('/static/img/bb.jpg');">
            <div class="col-12">
                <div class="text-center"><img src="/static/img/secc.png" alt="..." class="img-thumbnail"></div>
            </div>
            <div class="container  text-center">
                <div>
                    <h1 class="text-light">Journal of Data Science and Intelligent Learning Systems</h1>
                </div>
            </div>
            <div>

                <div>
                    <div class="row">
                        <div class="col-12 col-md-3 text-center"><a href='home.html' class="text-light">HOME</a>
                        </div>
                        <div class="col-12 col-md-3 text-center"><a href='org.html' class="text-light">ARTICLES</a>
                        </div>
                        <div class="col-12 col-md-3 text-center"><a href='topic.html' class="text-light">CO-ORDINATORS</a>
                        </div>
                        <div class="col-12 col-md-3 text-center"><a href='sub.html' class="text-light">CONTACT</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="content">
            <h3 class="text-center">Journal of Data Science and Intelligent Learning Systems</h3>
            <h4 class="text-center">Aims and Scope</h4>
            <div class="text-center">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div>
                        <img class="" src="/static/img/ff.jpg" alt="First slide">
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div>
                            <img class="" src="/static/img/sec1.jpg" alt="First slide">
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div>
                            <img class="" src="/static/img/sec2.jpg" alt="First slide">
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
            
            <p class="">Data Science and Intelligent Systems has been established for the students of Saveetha Engineering College with a compilation of stimulating articles within the field of data science and intelligent systems. The focus of the journal is on the larger ar­eas of artificial intelligence, data analytics, machine learning, pattern recognition, natural language understanding, and big data manipulation. </h5>
            
            <div>

                
                <p>The Journal of Data Science and Intelligent Learning Systems brings together the thoughts of students to discuss new technologies and opportunities, exchange ideas and practices, and promote transdisciplinary and cross-domain collaborations. 
                </p>
            </div>
            <div>
                <h4>Topics</h4>
                <p>The list of topics spans all the areas of modern intelligent systems such as:</p>
                <div>
                    <div>
                        <div class="text-center">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <div>
                                    <img class="" src="/static/img/cg.jpg" alt="First slide">
                                    </div>
                                  </div>
                                  <div class="carousel-item">
                                    <div>
                                        <img class="" src="/static/img/ai.jpg" alt="First slide">
                                    </div>
                                  </div>
                                  <div class="carousel-item">
                                    <div>
                                        <img class="" src="/static/img/cgg.jpg" alt="First slide">
                                    </div>
                                    
                                  </div>
                                </div>
                    </div>
                </div>
                    <div>
                    <ul>
                        <li>Artificial Intelligence</li>
                        <li>Deep Learning</li>
                        <li>Machine Learning</li>
                        <li>Pattern Recognition</li>
                        <li>Artificial Neural Networks</li>
                        <li>Reinforcement Learning</li>
                        <li>Supervised, Semi-Supervised and Unsupervised Learning</li>

                        <li>Computer Vision</li>
                        <li>AI Powered Robotic Systems</li>
                        <li>Natural Language Processing</li>
                        <li>AI Powered Internet of Things</li>
                        <li>Image and Video Processing and Analysis</li>
                        <li>Data Mining</li>
                        <li>Bayesian Learning</li>
                        <li>Intelligent Agents and Multi-Agent Systems</li>
                    </ul> 
                </div>
                
                   
            </div>
        </div>
    </div>

    <div class="" style="background-color: rgb(6, 24, 126);">
        <div class="text-center"> <h6 class="text-light">Copyright © 2021 AI&DS journalblog, Developed by KUMARAVEL V.</h6>
        </div>
        <div>
            <footer>
                <div class="text-center">
                    <a href="#"><span class="iconify" data-icon="akar-icons:instagram-fill"></span></a>
                    <a href="#"><i class="icon ion-social-snapchat" height='100px'></i></a>
                    <a href="#"><i class="icon ion-social-twitter"></i></a>
                    <a href="#"><i class="icon ion-social-facebook"></i></a>
                </div>


            </footer>



        </div>
    </div>

    </div>
    


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>