<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <title>Presentation Programme </title>

</head>

<body>
    <div class="jumbotron jumbotron-fluid" style="background-image: url('/static/img/bb.jpg');">
        <div class="container  text-center">
            <div class="text-light">
                <h1>AI & DS MINI PROJECT PRESENTATION</h1>
            </div>
        </div>
        <div>

            <div>
                <div class="row">
                    <div class="col-12 col-md-3 text-center"><a href='home.html'>Home</a>
                    </div>
                    <div class="col-12 col-md-3 text-center"><a href='org.html'>SESSION ORGANIZERS</a>
                    </div>
                    <div class="col-12 col-md-3 text-center"><a href='topic.html'>TOPICS</a>
                    </div>
                    <div class="col-12 col-md-3 text-center"><a href='sub.html'>SUBMISSON</a>
                    </div>
                
                    </div>    
              </div>
            </div>

        </div>
    </div>
    <div class="content">


    </div>




    <div class="container">
        <div class="row">
            <div class="footer">

            </div>

        </div>


    </div>

    </div>
    <div class="jumbotron jumbotron-fluid" style="background-image:url(/static/img/o.jpg);">
            <img src="/static/img/logo.jpg" alt="..." class="img-thumbnail">
            <h2 class="text-right">saveetha engineering college</h2>
        <div class="text-right">
           </div>
    

    </div>

</body>

</html>