<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <title>Presentation Programme </title>

</head>

<body>
    <div class="jumbotron jumbotron-fluid" style="background-image: url('/static/img/bb.jpg');">
        <div class="col-12"><img src="/static/img/secc.png" alt="..." class="img-thumbnail"></div>
        <div class="container  text-center">
            <div class="text-light">
                <h1>AI & DS MINI PROJECT PRESENTATION</h1>
            </div>
        </div>
        <div>

            <div>
                <div class="row">
                    <div class="col-12 col-md-3 text-center"><a href='home.html'>HOME</a>
                    </div>
                    <div class="col-12 col-md-3 text-center"><a href='org.html'>ARTICLES</a>
                    </div>
                    <div class="col-12 col-md-3 text-center"><a href='topic.html'>CO-ORDINATORS</a>
                    </div>
                    <div class="col-12 col-md-3 text-center"><a href='sub.html'>CONTACT</a>
                    </div>


                </div>
            </div>

        </div>

    </div>
    </div>
    <div class="content">
        <div>
            <ul>
                <li>knights tour</li>
                <li>SNAKE GAME</li>
                <li>Scientific calculator</li>
                <li>suduku GAME</li>
            </ul>


        </div>







        <div class="" style="background-color: rgb(31, 243, 119);">
            <div class="text-center"> Copyright © 2021 AI&DS journalblog, Developed by KUMARAVEL V.<h2 class="text">
                </h2>
            </div>
            <div>
                <footer>
                    <div class="text-center">
                        <a href="#"><span class="iconify" data-icon="akar-icons:instagram-fill"></span></a>
                        <a href="#"><i class="icon ion-social-snapchat" height='100px'></i></a>
                        <a href="#"><i class="icon ion-social-twitter"></i></a>
                        <a href="#"><i class="icon ion-social-facebook"></i></a>
                    </div>


                </footer>

            </div>>

        </div>
    </div>


    </div>

</body>

</html>